body {

	background: url('../../images/bg.png');
	background-position: center center;
}

.n-startup-front {
	
	width: 100%;
	padding-top: 70px;
	padding-bottom: 70px;
}

.n-startup-front .uk-panel-box {
	
	border-radius: 0px;
	background: rgba(255,255,255,0.8);
	border: rgba(255,255,255,0.9);
	padding-top: 30px;
	
	box-shadow: 0px 15px 15px -15px black
}

.n-startup-front .uk-panel-box .uk-form-row {
	
	margin-top: 10px;
}

.n-startup-front .uk-panel-box .uk-form-row .uk-form-controls {

	margin-top: 5px;	
}

.intl-tel-input {
	
	width: 100%;	
}