*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess

# Composer Vendor
vendor
vendor/composer

# Node Modules
node_modules

# Binary
bin

# Upload
upload