.n-view-host .n-body .n-list {

	background: transparent;
	border-bottom: none;
	padding: 60px 10px 10px 10px;
	bottom: 0px;
}

.n-view-host .n-body .n-list .n-item-host {

	background: url('../../../images/bg.png');
}

.n-item {

	padding: 10px;
	height: 100px;
}

.n-item .uk-panel-box {

	background: #fefefe;
	border-bottom: 1px solid #f9f9f9;
	border-right: 1px solid #f9f9f9;
}

.n-designer {

	position: absolute;
	left: 0px;
	right: 0px;
	top: 51px;
	bottom: 0px;
}

.n-designer .n-canvas-panel {

	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 201px;

	background: white;
	border-right: 1px solid #ddd;
}

.n-designer .n-components-panel {

	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 200px;
	padding: 5px;

	background: #efefef;
	border-left: 1px solid #fbfbfb;
}

.n-design-editor.n-expanded {

	position: fixed;

	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.n-designer > div {

	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.n-designer .n-canvas-panel.n-expanded {

	right: 40px;
}

.n-designer .n-components-panel.n-collapsed {

	width: 40px;
}

.n-designer .n-components-panel.n-collapsed:hover {

	width: 200px;
}

.n-tool-button {

	width: 40px;
}

.n-tool-button.uk-active {

	background: #fffbe8;
}