.n-view-host .n-body .n-list {

	background: transparent;
	border-bottom: none;
	padding: 60px 10px 10px 10px;
	bottom: 0px;
}

.n-view-host .n-body .n-list .n-item-host {

	background: url('../../../images/bg.png');
}

.n-item {

	padding: 10px;
	height: 100px;
}

.n-item .uk-panel-box {

	background: #fefefe;
	border-bottom: 1px solid #f9f9f9;
	border-right: 1px solid #f9f9f9;
}

.n-designer {

	position: absolute;
	left: 0px;
	right: 0px;
	top: 51px;
	bottom: 0px;
}

.n-designer > div {

	background: url('../../../images/bg.png');
}

.n-designer .n-canvas-panel {

	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 211px;

	background: white;
	border-right: 1px solid #ccc;

	overflow: auto;
}

.n-designer .n-components-panel {

	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 200px;
	padding: 5px;

	background: #efefef;
	border-left: 1px solid #fbfbfb;

	z-index: 10000;
}

.n-design-editor.n-expanded {

	position: fixed;

	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.n-designer > .n-abs-fit > div {

	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.n-designer .n-canvas-panel.n-expanded {

	right: 51px;
}

.n-designer .n-components-panel.n-collapsed {

	width: 40px;
}

.n-tool-button {

	width: 40px;
}

.n-tool-button.uk-active {

	background: #fffbe8;
}

.n-device-preview {

	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.n-tablet-preview {

	position: absolute;
	width: 861px;
	height: 1063px;
	margin-left: -430px;

	left: 50%;
	top: 50px;

	background: url('../../../images/tablet-apple.png');
}

.n-mobile-preview {

	position: absolute;
	width: 418px;
	height: 839px;
	margin-left: -209px;

	left: 50%;
	top: 50px;

	background: url('../../../images/phone-apple.png');
}

.n-device-preview.n-landscape {

	top: 50%;

	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);

	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

.n-tablet-preview.n-landscape {

	margin-top: -332px;
}

.n-mobile-preview.n-landscape {

	margin-top: -420px;
}

.gridster-item {

	background: #f5f5f5;
	left: 0px;
	right: 0px;
}

.gridster-item.uk-active {

	background: #f5fcff;
}