.n-view-host .n-body .n-list {

	background: transparent;
	border-bottom: none;
	padding: 60px 10px 10px 10px;
	bottom: 0px;
}

.n-view-host .n-body .n-list .n-item-host {

	background: url('../../../images/bg.png');
}

.n-item {

	padding: 10px;
	height: 100px;
}

.n-item .uk-panel-box {

	background: #fefefe;
	border-bottom: 1px solid #f9f9f9;
	border-right: 1px solid #f9f9f9;
}

.n-designer {

	position: absolute;
	left: 0px;
	right: 0px;
	top: 51px;
	bottom: 0px;
}

.n-designer > div {

	background: url('../../../images/bg.png');
}

.n-designer .n-canvas-panel {

	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 311px;

	background: white;
	border-right: 1px solid #ccc;

	overflow: auto;
}

.n-designer .n-components-panel {

	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 300px;
	padding: 5px;

	background: #efefef;
	border-left: 1px solid #fbfbfb;

	z-index: 10000;
}

.n-designer .n-components-panel > .uk-grid {

	position: relative;
	height: 100%;
}

.n-designer .n-components-panel > .uk-grid > .n-properties-panel {

	position: absolute;
	top: -5px;
	width: 260px;
	bottom: -5px;
	left: 45px;
	overflow: auto;
}

.n-design-editor.n-expanded {

	position: fixed;

	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.n-designer > .n-abs-fit > div {

	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.n-designer .n-canvas-panel.n-expanded {

	right: 51px;
}

.n-designer .n-components-panel.n-collapsed {

	width: 40px;
}

.n-tool-button {

	width: 40px;
}

.n-tool-button.uk-active {

	background: #fffbe8;
}

.n-device-preview {

	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.n-tablet-preview {

	position: absolute;
	width: 861px;
	height: 1063px;
	margin-left: -430px;

	left: 50%;
	top: 50px;

	background: url('../../../images/tablet-apple.png');
}

.n-mobile-preview {

	position: absolute;
	width: 418px;
	height: 839px;
	margin-left: -209px;

	left: 50%;
	top: 50px;

	background: url('../../../images/phone-apple.png');
}

.n-device-preview.n-landscape {

	top: 50%;

	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);

	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

.n-tablet-preview.n-landscape {

	margin-top: -332px;
}

.n-mobile-preview.n-landscape {

	margin-top: -420px;
}

.n-canvas-panel .gridster-item {

	background: #f5f5f5;
}

.n-canvas-panel .gridster-item:hover {

	background: #f9f9f9;
}

.n-canvas-panel .n-cover {

	position: absolute;
	pointer-events: none;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 100000;
}

.n-canvas-panel .gridster-item.uk-active,
.n-canvas-panel .n-cover.uk-active {

	-webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,150,255,0.25);
	-moz-box-shadow: inset 0px 0px 15px 0px rgba(0,150,255,0.25);
	box-shadow: inset 0px 0px 15px 0px rgba(0,150,255,0.25);
}

.n-properties-panel {

	padding: 0px;
}

.n-properties-panel label {

	background: #ccc;
	padding: 2px 5px;
	display: block;
	margin-bottom: 3px;
	font-size: 0.8em;
	font-weight: bold;
}

.n-properties-panel > div {

	padding: 0px;
}

.n-properties-panel div:not(:first-child),
.n-properties-panel label:not(:first-child) {

	margin-top: 3px;
}

.n-properties-panel > div > .n-controls {

	margin: 0 5px;
}

div[ui-codemirror] {

	height: 100%;
}

div[ui-codemirror] > .CodeMirror {

	height: 100%;
}

div[ui-codemirror] > .CodeMirror > .CodeMirror-scroll {

	height: 100%; 
	overflow: auto;
}

div[ui-codemirror] > .CodeMirror > .CodeMirror-scroll > .CodeMirror-gutters {

	height: 100%;