.n-columns-view {
	
	width: 100%;
	height: 100%;
	
	overflow: auto;
	white-space: nowrap;
}

.n-single-page {
	
	padding: 0px !important;
}

.n-columns-view .n-column {
	
	position: absolute;
	display: block;
	width: 350px;
	top: 0px;
	bottom: 0px;
	
	background: #f5f5f5;

	border-top: 1px solid #f9f9f9;
	border-right: 1px solid #ddd;
	
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.n-columns-view .n-column.ng-enter {
	
	-webkit-transform: translate(-100%, 0);
	-moz-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	-o-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
}

.n-columns-view .n-column.ng-enter.ng-enter-active {
	
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}

.n-columns-view .n-column.ng-leave {
	
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}

.n-columns-view .n-column.ng-leave-active {
	
	-webkit-transform: translate(-100%, 0);
	-moz-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	-o-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
}

.n-columns-view .n-column:not(:first-child) {

	border-left: 1px solid #fefefe;
}

.n-columns-view .n-column:nth-child(odd) {
	
	background: #f5f5f5;
}

.n-columns-view .n-column .n-title {
	
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	
	background: #dedede;
	font-size: 14px;
	padding: 5px 5px 5px 10px;
	height: 30px;
	
	border-bottom: 1px solid #cccccc;
	
	z-index: 1;
}

.n-columns-view .n-column .n-title > .uk-grid > * {

	padding-left: 0px !important;	
}

.n-columns-view .n-column .n-items {

	position: absolute;
	padding: 40px 0 0 0;
	list-style: none;
	margin: 0px;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	overflow-y: auto;
	
	z-index: 0;
}

.n-columns-view .n-column .n-items .n-item {

	background: #eeeeee;
	height: 30px;

	border-top: 1px solid #f9f9f9;
	border-bottom: 1px solid #cccccc;
	
	padding: 10px 10px 0 10px;
	
	cursor: hand;
}

.n-columns-view .n-column .n-items .n-item.uk-active {
	
	color: #fff;
	background: #35B3EE;
	border-top: 1px solid #35B3EE;
	border-bottom: 1px solid #35B3EE;
}

.n-columns-view .n-column .n-items .n-item:not(.uk-active).n-drilling-down {
	
	color: #fff;
	background: #555;
	border-top: 1px solid #555;
	border-bottom: 1px solid #555; 
}

.n-columns-view .n-column .n-items .n-item:first-child {

	border-top: 1px solid #cdcdcd;
}

.n-columns-view .n-column .n-items .n-item:not(.uk-active):not(.n-drilling-down):hover {

	background: #d8d8d8;
	border-top: 1px solid #dedede; 
}

.n-columns-view .n-column .n-items .n-item:not(.uk-active):not(.n-drilling-down):first-child:hover {

	background: #d8d8d8;
	border-top: 1px solid #cdcdcd;
}