body {
	
	background: url(../images/bg.png);
}

.n-current-login {
	
	padding: 5px 15px 10px 15px;
	color: white;
	font-size: 14px;
}

.n-menu-header {
	
	background: #292929;
	padding: 15px;
	color: white;
	font-size: 14px;
}

.n-menu-header:before {
	
	content: "::";
}

.n-menu-header:after {
	
	content: "::";
}

.n-menu-panel {

	background: #333;
	border-radius: 0px;
	overflow: auto;
}

.n-menu-panel .n-common {
	
	height: 170px;
}

.n-menu-panel .n-items {
	
	position: absolute;
	top: 185px;
	bottom: 0px;
	width: 100%;
	overflow: auto;
}

.n-menu-panel ul li a > i {

	display: inline-block;
	width: 50px;
}

.n-view-host {

	position: relative;
	height: 100%;
	width: 100%;
}

.n-view-host .n-title {
	
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	
	font-size: 30px;
	padding: 15px 15px 0 15px;
	line-height: 30px;
	border-bottom: 1px solid #ccc;
	background: #efefef;
}

.n-view-host .n-body {

	position: absolute;
	top: 66px;
	left: 0px;
	right: 0px;
	bottom: 0px;

	border-top: 1px solid #f5f5f5;
	
	overflow-x: hidden;
}

.n-view-host .n-body .n-list {
	
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 50px;
	background: white;
	overflow-y: auto;
	
	border-bottom: 1px solid #ccc;
}

.n-view-host .n-body .n-list tr.uk-active {
	
	background: #35B3EE;
	color: white;
}

.n-view-host .n-body .n-list tr.uk-active input[type=checkbox] {
	
	border-color: white;
}

.n-view-host .n-body .n-list tr.uk-active input[type=checkbox]:checked:before {
	
	color: white;
}

.n-view-host .n-body .n-controller {

	position: absolute;
	
	height: 49px;
	left: 0px;
	right: 0px;
	bottom: 0px;

	border-top: 1px solid #f5f5f5;	
}

.n-view-host .n-body .n-controller > div {
	
	margin: 9px 10px 10px 10px;
}

.n-table thead th {
	
	background: #feffff;
	background: -moz-linear-gradient(top,  #feffff 0%, #f8f8f8 35%, #efefef 100%);
	background: -webkit-gradient(linear, 
				left top, left bottom, color-stop(0%,#feffff), 
				color-stop(35%,#f8f8f8), color-stop(100%,#efefef));
	background: -webkit-linear-gradient(top,  #feffff 0%,#f8f8f8 35%,#efefef 100%);
	background: -o-linear-gradient(top,  #feffff 0%,#f8f8f8 35%,#efefef 100%);
	background: -ms-linear-gradient(top,  #feffff 0%,#f8f8f8 35%,#efefef 100%);
	background: linear-gradient(to bottom,  #feffff 0%,#f8f8f8 35%,#efefef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#efefef',GradientType=0 );
	
	border-right: 1px solid #ccc;
	border-left: 1px solid #fdfdfd;
}

.n-table tbody td {
	
	border-right: 1px solid #ccc;
	border-left: 1px solid #fdfdfd;
}

.n-properties-panel {
	
	position: absolute;
	
	top: 0px;
	bottom: 0px;
	
	background: #e5e5e5;
	border-left: 1px solid #ccc;
	box-sizing: border-box;
	
	box-shadow: -10px 2px 50px -25px black;
	
    -webkit-transition: right 0.3s ease-in-out;
    -moz-transition: right 0.3s ease-in-out;
    -o-transition: right 0.3s ease-in-out;
    transition: right 0.3s ease-in-out;
    
	right: 0px;
}

.n-properties-panel > .n-header {

	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 63px;
	box-sizing: border-box;
	z-index: 1;
	
	padding: 15px;
	background: #e5e5e5;
}

.n-properties-panel > .n-header.n-drop-shadow {
	
	box-shadow: 0px 10px 50px -25px black;
}

.n-properties-panel > .n-header .n-bottom-border {
	
	position: absolute;
	bottom: 0px;
	left: 15px;
	right: 15px;
	height: 0px;
	
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #efefef;
}

.n-properties-panel > .n-body {

	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;	
	
	overflow-y: auto;
	
	z-index: 0;
	
	padding: 70px 15px;
}

.n-properties-panel > .n-footer {

	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
	
	z-index: 1;
	
	padding: 5px 15px;
	background: #e5e5e5;
}

.n-properties-panel > .n-footer .n-top-border {
	
	position: absolute;
	top: 0px;
	left: 15px;
	right: 15px;
	height: 0px;
	
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #efefef;
}

.n-properties-panel > .n-footer .n-scroll-for-more {
	
	position: absolute;
	top: -18px;
	width: 100px;
	height: 18px;
	left: 50%;
	
	margin-left: -50px;
	
	text-align: center;
	font-size: 12px;
	font-family: FontAwesome;
	border-radius: 5px 5px 0 0;
	
	background: rgba(0,0,0,0.3);
	color: white;
}

.n-properties-panel > .n-footer .n-scroll-for-more:after {
	
	content: "\f078"
}

.n-properties-panel > .n-footer button {
	
	width: 80px;
}

.n-properties-panel.ng-hide-remove {
	
	display: block !important;
}

.n-properties-panel.ng-hide-add {
	
	display: block !important;
}

.n-properties-panel.ng-hide {
	
	right: -70%;
	display: none;
}

.n-properties-panel .n-mask {
	
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #e5e5e5;
	
	z-index: 3;
	
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    
    pointer-events: none;
}

.n-properties-panel .n-mask.n-solid {

	pointer-events: auto;	
}

.n-properties-panel .n-mask:not(.n-solid).ng-hide {
	
	display: block !important;
	
	opacity: 0;
}

.n-properties-panel .n-mask:not(.n-solid).ng-show {
	
	display: block !important;
	
	opacity: 1;
}


.n-selected {
	
	background: #fff8f0;
}

.uk-table-striped tbody tr:nth-of-type(odd).n-selected {
	
	background: #f7e8d4;
}

.uk-htmleditor-preview {
	
	min-height: 500px !important;
}

.gmnoprint img {
    max-width: none; 
}