.uk-form-controls {
	
	position: relative;
}

.uk-form-controls i {
	
	position: absolute;
	right: -20px;
	top: 8px;
}

.n-code-block {
	
	padding: 10px;
	background: #fafafa;
	font: 12px / 18px Consolas, monospace, serif;
	color: #444;
	-moz-tab-size: 4;
	tab-size: 4;
	overflow: auto;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.n-code-block code {

	background: transparent;
	border: none;	
}

.n-drop-shadow {
	
	box-shadow: 0px 10px 50px -25px black;
	z-index: 10;
}
