html {
	
	background: transparent;
}

body {

	background: url('../../../images/bg.png');
	background-position: center center;
}

.n-login-front {
	
	position: absolute; 
	top: 0px; 
	margin-top: 0px;
	bottom: 0px;
	width: 100%;
}

.n-login-front .uk-panel-box {
	
	border-radius: 0px;
	background: rgba(255,255,255,0.8);
	border: rgba(255,255,255,0.9);
	margin-top: 70px;
	padding-top: 30px;
	
	box-shadow: 0px 15px 15px -15px black
}

.n-login-general button[type="submit"] {
	
	width: 150px;
}

.uk-form-controls i {
	
	position: absolute;
	right: -30px;
	top: 10px;
}